h5, h6{
  font-family: 'Montserrat', sans-serif;
}

.ui-card{
  border-top: 3px #007ad9 solid;
}

p-card {
  padding: 20px;
}

h6{
  font-weight: bold;
}

.quick-links{
  margin: 5px 5px;
}
