.ui-calendar.ui-calendar-w-btn .ui-inputtext {
  width: 96%;
}

#splitting-line{
  margin-top: 16rem;
}

#button_hr{
  margin-top: 7rem;
  border-top: transparent;
}

form .ui-button {
  margin: 10px;
  padding: 4px;
  border-radius: 0.25rem;
  width: auto;
  //height: fit-content;
}

.hide-split{
  display: none;
}
