<div class="ui-g">
  <p-card class="ui-g-12">
    <div class="ui-g ui-fluid">

      <div class="ui-g-12">
        <h4>Fee Collection List</h4>
        <hr>
      </div>

      <p-card class="ui-g-12 ui-lg-3" id="dash_fee">
        <h5 class="">Total Fee</h5>
        <hr>
        <h6>BDT {{totalFee?.toLocaleString('en-IN') | number}}</h6>
      </p-card>

      <div class="ui-g-0 ui-lg-9"></div>

      <div class="ui-md-3 ui-g-12">
        <label>Area Filter</label>
        <p-autoComplete
          #areaDropdown
          placeholder="Area Filter"
          [(ngModel)]="areaFilter"
          [suggestions]="areas"
          field="name"
          (completeMethod)="getAreas($event)"
          (onSelect)="$event.id ? dt.filter($event.id, 'area', 'equals') : dt.filter('', 'area', 'equals');"
          [forceSelection]="true"
          [size]="30"
          [dropdown]="true"
          [showTransitionOptions]="'0ms'"
        ></p-autoComplete>
      </div>

      <div class="ui-md-3 ui-g-12">
        <label>Date Filter</label>
        <div class="ui-inputgroup">
          <p-calendar
            dateFormat="dd/mm/yy"
            placeholder="Date Filter"
            [(ngModel)]="rangeDates"
            selectionMode="range"
            [readonlyInput]="true"
            #dateFilter
            (onSelect)="$event.value ? dt.filter($event.value.name, 'created_at', 'equals') : dt.filter('', 'created_at', 'equals'); filterDateRange($event);"></p-calendar>
          <p-splitButton label="Save" icon="pi pi-check" [model]="dateFilters"></p-splitButton>
        </div>
      </div>

      <div class="ui-md-3 ui-g-12">
        <label>Fee Type Filter</label>
        <p-autoComplete
          #feeTypeDropdown
          placeholder="Fee Types Filter"
          [(ngModel)]="feeTypeFilter"
          [suggestions]="feeTypes"
          field="name"
          (completeMethod)="getFeeTypes($event)"
          (onSelect)="$event.id ? dt.filter($event.id, 'fee_type', 'equals') : dt.filter('', 'fee_type', 'equals');"
          [forceSelection]="true"
          [size]="30"
          [dropdown]="true"
          [showTransitionOptions]="'0ms'"
        ></p-autoComplete>
      </div>

      <div class="ui-md-3 ui-g-12">
        <button id="clearFilter" pButton type="submit" label="Clear Filters"
                (click)="dt.reset(); clearFilters()"></button>
      </div>

    </div>
    <p-table
      #dt
      [columns]="cols"
      [value]="feeCollections"
      [lazy]="true"
      (onLazyLoad)="loadFeeCollectionLazy($event)"
      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[10,20,30]"
      [totalRecords]="totalRecords"
      [loading]="loading"
      [responsive]="true"
      [scrollable]="scrollable"
    >

      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <button id="export" pButton type="submit" icon="pi pi-file" label="Export CSV"
                  (click)="this.generateReport(this.reportTypes.csv)"></button>
          <!--<p-splitButton id="export" label="Save" icon="pi pi-file" (onClick)="save('info')"-->
          <!--[model]="printing"></p-splitButton>-->
          <i id="searchIcon" class="pi pi-search"></i>
          <div class="ui-inputgroup" style="width: 307px; text-align: left">
            <p-dropdown
              [(ngModel)]="selectGlobalFilter"
              [options]="globalFiltersArray"
              optionLabel="name"
              placeholder="Global"
              [style]="{'width':'100%'}"
              (onChange)="clearGlobal()"
              style="width: 100px">
            </p-dropdown>
            <input id="globalFilter" type="text" pInputText size="25" placeholder="Global Filter" [(ngModel)]="globalFilter"
                   (input)="search($event);" style="width:auto">

          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="colgroup" let-columns>
        <colgroup *ngIf="scrollable">
          <col *ngFor="let col of columns" style="width:150px">
          <col style="width: 150px">
        </colgroup>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field"
              [pSortableColumnDisabled]="col.field === 'no_of_months'">
            {{col.header}}
            <p-sortIcon [field]="col.field" *ngIf="col.field !== 'no_of_months'"></p-sortIcon>
          </th>
          <th>
            Action
          </th>
        </tr>

      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td>
            <span class="ui-column-title">Code</span>
            {{rowData['code']}}
          </td>
          <td>
            <span class="ui-column-title">Name</span>
            {{rowData['name']}}
          </td>
          <td>
            <span class="ui-column-title">Phone</span>
            {{rowData['phone']}}
          </td>
          <td>
            <span class="ui-column-title">Area</span>
            {{rowData['area']}}
          </td>
          <td>
            <span class="ui-column-title">Timestamp</span>
            {{rowData['created_at'] | date: 'dd/MM/yyyy h:mm a'}}
          </td>
          <td>
            <span class="ui-column-title">Fee Type</span>
            {{rowData['fee_type']}}
          </td>
          <td>
            <span class="ui-column-title">Total Fee</span>
            {{rowData['total']}}
          </td>
          <td>
            <span class="ui-column-title">Action</span>
            <button class="ui-button-secondary" name="basic" pButton type="button" label="Refund"
                    (click)="showRefundDialog(rowData['id'])"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <p style="font-weight: normal; float: left">Showing {{from}} - {{to}} of {{totalRecords}} records</p>
      </ng-template>
    </p-table>

    <p-dialog [closable]="false" header="Refund" [(visible)]="refundDisplay" [modal]="true" [responsive]="true"
              [width]="350" [minWidth]="200" [minY]="70"
              [maximizable]="true" [baseZIndex]="10000" appendTo="body">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12">
          <div class="ui-inputgroup">
            Are you sure?
          </div>
        </div>
      </div>
      <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="onRefundSubmit()" label="Submit"></button>
        <button type="button" pButton icon="pi pi-times" (click)="closeRefundDialog()" label="Cancel"
                class="ui-button-secondary"></button>
      </p-footer>
    </p-dialog>
  </p-card>
</div>
